<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6492934a21.js" crossorigin="anonymous"></script>
    <title>Imperfections</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <header class="navbar"> 
        <div class="container flex">
            <h1 class="logo"> About</h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="home.html"> Home </a></li>
                    <li> <a href="gallery.html"> Gallery </a></li>
                    <li><a href="about.html"> About </a></li>
                    <li><a href="random.html"> Random </a></li>
                    <li><a href="{% url 'admin:index' %}"></a>Admin Login</a></li>
                    <a href="https://www.facebook.com/groups/884082229441073"><img class="fb" src="../static/images/facebook.png"></a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="showcase">
        <div class="container grid">
            <div class="picture">
                <figure>
                    <img src="/static/images/me.JPG" alt="Author">
                    <figcaption>Jessica, Site Author</figcaption>
                </figure>
             </div>

            <div class="showcase-text">
                <p class="welcome">  
                    Hello fellow crafters and crochers! My name is Jessica, I prefer to go by Jess. I am a mother to 3, and an crafter. 
                    Crafting has been an amazing outlet for me, assisting in keeping anxiety at bay while being able to bring wonderful,
                    fun, and beautiful things into the world. One of the greatest things about crafting to me is seeing the happiness 
                    and inspiration what I make can bring to others! Nothing quite compares to the smiles a hand crafted item can bring! 
                    Above all I just love to learn and enjoy life to the fullest. 
                </p>
            </div>
            <div class="contact">
                Please feel free to leave a comment or share a 
                pattern! If you run into any issues or have any questions
                you are welcome to reach out to me here as well as on our facebook 
                page through the link in the navigation menu above.<br> Contact me<br>
                <a>Jessica.k.smith@bryanuniversity.edu</a><br> 1-800-555-5555<br>
            </div>
        </div>
        <footer>
            All photographs on this page are property of Jessica Smith. All patterns are my own unless linked otherwise, credit given where credit is due.If you would like to obtain any of the patterns that do not have a link please let me know.<br> Happy crafting! <a> http://127.0.0.1:5500/home.html</a>  &copy; Copyright 2021 Jessica S.
        </footer>
    </section>  
    
</body>
</html>