<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6492934a21.js" crossorigin="anonymous"></script>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="../static/css/gallery.css">
</head>
<body>
    <header class="navbar"> 
        <div class="container">
            <h1 class="logo">Gallery<i class="fas fa-sun"></i></h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="home.html"> Home </a></li>
                    <li><a href="gallery.html"> Gallery </a></li>
                    <li><a href="about.html"> About </a></li>
                    <!-- <li><a href="sign_in.html"> Sign in </a></li> -->
                    <li><a href="random.html"> Random </a></li>
                    <li><a href="{% url 'admin:index' %}"></a>Admin Login</a></li>
                    <a href="https://www.facebook.com/groups/884082229441073"><img class="fb" src="../static/images/facebook.png"></a>
                </ul>
            </nav>
        </div>
    </header>

    <main class="myContent">
        <div class="container">
           {% for x in pics %}
           <img src="{{x.image.url}}" class="img-fluid">
           {% endfor %}
        </div>
    </main> 
    <footer>
        All photographs on this page are property of Jessica Smith. All patterns are my own unless linked otherwise, credit given where credit is due.If you would like to obtain any of the patterns that do not have a link please let me know.<br> Happy crafting! <a> http://127.0.0.1:5500/home.html</a>  &copy; Copyright 2021 Jessica S.
    </footer>
</body>
</html>