<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="navbar"> 
        <div class="container flex">
            <h1 class="logo">Random</h1>
            <nav>
                <ul class="linkButtons">
                    <li><a href="home.html"> Home </a></li>
                    <li> <a href="gallery.html"> Gallery </a></li>
                    <li><a href="about.html"> About </a></li>
                    <li><a href="random.html"> Random </a></li>
                    <li><a href="admin.html">Admin Login</a></li>
                    <a href="https://www.facebook.com/groups/884082229441073"><img class="fb" src="../static/images/facebook.png"></a>
                </ul>
            </nav>
        </div>
    </header>
    <div> When does a joke become a dad joke??
            <br>
            <br>
            <br>
            When it becomes a parent!!!
    </div>
</body>
</html>